SNOWFLAKE_DATABASE=DBGA_TEST_ANALYTICS

SNOWFLAKE_SCHEMA=DBGA_TEST_EXTERNAL_MARKETING

SNOWFLAKE_WAREHOUSE=DBGA_TEST_DATA_WH


SNOWFLAKE_ROLE=DBGA_TEST_AUTO_EXTERNAL_MARKETING

SNOWFLAKE_ACCOUNT=sib61143

SNOWFLAKE_USERNAME=DBGA_TEST_AUTO_CODER

NEXT_PUBLIC_SUPABASE_URL=https://kfybrdngnfukgbebnppg.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmeWJyZG5nbmZ1a2diZWJucHBnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI2MDc4NDcsImV4cCI6MjA2ODE4Mzg0N30.chky2zr-8fzyCZiCOq5zvlx3o1EabWjGaDC12v_EKBU